<section class="section">
    <div class="container">
        <h2 class="section-title">Personal Details</h2>
        <div class="about-grid">
            <div class="card bio-card">
                <h3>Who am I?</h3>
                <p>
                    I am a Devang Sujith, 12 years old, 7th grader from Thrissur, Kerala, India.

                </p>
            </div>

            <div class="card details-card">
                <h3>Quick Bits</h3>
                <ul>
                    <li><strong>Name:</strong> Devang Sujith</li>
                    <li><strong>Location:</strong> Thrissur, Kerala - India</li>
                    <li><strong>Email:</strong>devang.sujith@gmail.com</li>

                </ul>
            </div>
        </div>
    </div>
</section>