.education-list {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.education-list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 2px;
    background: var(--border-color);
}

.education-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 60px;
}

.education-item:last-child {
    margin-bottom: 0;
}

.edu-date {
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background: var(--surface-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--text-primary);
    z-index: 2;
}

.degree {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.edu-content h3 {
    margin-bottom: 0.2rem;
}

@media (max-width: 600px) {
    .education-list::before {
        left: 15px;
    }

    .education-item {
        padding-left: 50px;
    }

    .edu-date {
        width: 32px;
        height: 32px;
        font-size: 0.7rem;
    }
}